.extra-members {
  display: grid;
  width: 75%;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
  justify-content: center; 
  align-content: center; 
  justify-items: center; 
  align-items: center; 
  gap: 0vw 4vw;
  margin: 4vh;
}

.extra-member {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1vw;
}

.extra-member h1 {
  font-family: "Omnes Black";
  margin: 0;
}

.extra-member h1 a {
  font-size: 3.2vw;
  text-decoration: none;
  color: black;
}

.extra-member p {
  margin: 0;
  font-family: "Omnes Medium";
  font-size: 1.8vw;
}

.streamers {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
    align-items: center; 
    gap: 5vw 2vw;
    margin: 4vh;
}

.streamer { /* EDITS MUST ALSO BE MADE TO .streamer-right */
    display: grid; 
    grid-template-columns: 10vw 30vw; 
    grid-template-rows: 0fr 0fr 0fr; 
    grid-template-areas: 
      "icon username"
      "icon name"
      "icon socials"; 
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
    align-items: center; 
}

.streamer:nth-child(even) {
    grid-template-areas: 
      "username icon"
      "name icon"
      "socials icon"; 

    grid-template-columns: 30vw 10vw; 
    justify-self: right;
}

.icon {
    grid-area: icon;
    height: 130%;
}

.member-username {
    grid-area: username;
    font-family: "Omnes Black";
    font-size: 2.8vw;
    margin: 0;
    line-height: 3vh;
    color: black;
    text-decoration: none;
}

.member-name {
    grid-area: name;
    font-family: "Omnes Medium";
    font-size: 2.5vh;
    margin: 0;
}

.socials {
    display: flex;
    grid-area: socials;
    margin: 1vh;
}

.socials a img {
    width: 3vw;
}

#title-content-container img {
    width: 100%;
}
  
  .extra-member {
    padding: 1vw;
  }
  
  .extra-member h1 {
    font-size: 3vw;
  }
  
  .subtitle {
    background-color: black;
  }
  
  .subtitle h1 {
    width: fit-content;
    margin: auto auto;
    padding: 2vw;
    font-size: 5vw;
    color: white;
  }
  
  #title-container {
    margin-bottom: 3vh;
  }
  
  #title-box {
    padding-top: 3vh;
    background-color: black;
    width: 100%;
  }
  
  #title-content-container {
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-rows: 1.5fr 0.5fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "Logo-1 Streamers-Title Logo-2"
        "Logo-1 Streamers-Subtitle Logo-2";
  
      width: 60%;
      margin: auto auto;
      text-align: center;
    }
    
  .Logo-2 { grid-area: Logo-2; }
    
  .Logo-1 { grid-area: Logo-1; }
    
  .Streamers-Title { 
      background-color: black;
      grid-area: Streamers-Title;
      margin: 0;
      align-self: center;
  }
  
  .Streamers-Title h1 {
    font-size: 6vw;
    font-family: "Omnes Pro Bold";
    margin: 0;
    color: white;
  }
    
  .subtitle-container {
    margin-top: 5vw;
  }
  
  .Streamers-Subtitle { 
      grid-area: Streamers-Subtitle;
  }
  
  .Streamers-Subtitle p {
    font-family: "Omnes Medium";
    font-size: 1.35vw;
    margin: 0;
    color: white;
  }
  
  .info3 .username,
  .info6 .username {
    font-size: 2.5vw;
  }
  
  .extra-member .small-member {
    font-size: 2.7vw;
  }
  
  @media screen and (max-width: 1100px) {
    .extra-members {
      grid-template-columns: 1fr;
      width: 80%;
    }
  
    .extra-members h1 {
      font-size: 7vw;
    }
  
    .extra-members p {
      font-size: 3vw;
    }
  
    #title-content-container {
      width: 90%;
      grid-template-columns: 1fr 6fr 1fr;
      grid-template-areas: "Logo-1 Streamers-Title Logo-2";
    }
  
    .Streamers-Subtitle {
      display: none;
    }
  
    .Streamers-Title h1, .subtitle h1 {
      font-size: 9vw;
    }
  
    .streamers {
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
      "img1 info1"
      "img2 info2"
      "img3 info3"
      "img4 info4"
      "img5 info5"
      "img6 info6";
    }
  
    .username {
      font-size: 7vw;
    }
  
    .info3 .username,
    .info6 .username {
      font-size: 5vw;
    }
  
    .name-pronouns {
      font-size: 4vw;
    }
  
    .socials a img {
      width: 5vw;
    }
  
    .subtitle {
      text-align: center;
    }
  
    .extra-member .small-member {
      font-size: 7vw;
    }
  
  }