.homeTitle {
    display: flex;
    width: 50vw;
    background: #000;
    margin: auto auto 2vh;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;

    /* Initial off screen position */
    transform: translateY(-100%);

    /* Animation Properties */
    animation: fly-in 1s ease-in-out;
    animation-fill-mode: forwards;
    z-index: -1;
}

@keyframes fly-in {
    0% {
    }
    100% {
      transform: translateY(0);
    }
  }

.homeTitle h1 {
    color:white;
    margin: auto auto;
    text-align: center;
    font-size: 5vw;
    margin: 3vh;
    font-family: "Omnes Pro Bold";
}

#intro-box p {
    padding: 0.7vw;
}

#intro-box {
    margin: auto auto;
    background-color: white;
    width: 75%;
    border-radius: 1vh;

    padding-left:1vw;
    padding-right:1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;

    margin-bottom: 5vw;
    text-align: center;
}

#intro-box p {
    font-family: "Omnes Medium";
    font-size: 3vh;
    font-weight: 1000;
}

@media screen and (max-width: 1100px) {
    #intro-box p {
        font-size: 2.5vh;
    }
}