#home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#home-page-logo {
    width: 30%;
}

#home-page-introduction {
    text-align: center;
    gap: 5px;
    width: 75%;
}

@media screen and (max-width: 1100px) {
    #home-page-introduction {
        width: 95%;
    }
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    width: 90%;
    padding: 20px;

    background-color: var(--whitePrimary);
    border-radius: 10px;
    
    align-self: center;
}

@media screen and (max-width: 1100px) {
    .content-box {
        width: 95%;
    }
}

#home-page-logo {
    box-sizing: border-box;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    transition: transform 0.3s;
}

#home-page-logo img {
    transition: transform 0.2s ease-out;
}

@media screen and (max-width: 1100px) {
    #home-page-logo {
        padding-left: 5%;
        padding-right: 5%;
    }
}

#home-page-logo img {
    width: 100%;
}

#home-page-logo img:hover {
    transform: scale(1.1);
}