.curve {
    height: 5vh;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background-color: black;
}

.subheader {
    display: flex;
    background-color: black;
    color: white;
    font-family: "Omnes Black";
    font-size: 2.5vw;
    justify-content: center;
}

.subheader h1 {
    text-align: center;
    text-justify: center;
    margin: 3vh;
}