.footer {
    display: flex;
    justify-content: space-evenly;
    font-family: "Omnes Light";
    text-align: center;
  }
  
.footer p {
  margin: 0 0 0.5vh 0;
  font-size: 1vw;
}

.footer p a {
  color: white;
}

/***************************** MOBILE *****************************/
@media screen and (max-width: 1100px) {
  .footer {
    flex-direction: column;
    align-items: center;
    }
  .footer p {
    font-size: 3vw;
  }
}