.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    z-index: 1;
  }
  
  .nav-container {
    display: flex;
  }
  
  .logo {
    display: flex;
    text-decoration: none;
    margin: 1vh;
  }
  
  .logo img {
    height: 5vh;
    align-self: center;
  }
  
  .logo h1 {
    margin: 1vh;
    line-height: 3vh;
    height: 3vh;
    font-size: 3vh;
    align-self: center;
    font-family: "Omnes Black";
    user-select: none;
    color: white;
    white-space: nowrap;
  }
  
  .dropdown {
    display: none;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    border-radius: 0.5vw;
    width:10vw;
    margin-top: 2vh;
    user-select: none;
    text-align: center;
  
    position: absolute;
    top: 4.5vh;
  }
  
  
  #archive:hover {font-weight: 700}
  #archive:hover .dropdown {display: var(--archiveDropdownMode);}
  #archive {
    user-select: none;
    cursor: var(--archiveCursor);
  }
  
  .year {
    padding: 2vh 1vh;
    text-decoration: none;
    display: block;
    background-size: 100%;
    font-size: 3vh;
    color: white;
    font-family: "Omnes Pro Bold";
    user-select: none;
  }
  
  #s2021 {background-image: url(https://cdn.reformationfundraising.com/rffcom/2021theme.jpeg)}
  #s2022 {background-image: url(https://cdn.reformationfundraising.com/rffcom/2022theme.gif); background-position-y: 100%}
  #s2023 {background-image: url(https://cdn.reformationfundraising.com/rffcom/2023theme.jpeg)}
  #s2020 {
    background-image: url(https://cdn.reformationfundraising.com/rffcom/2020theme.jpeg);
    background-position-y: 60%;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
  }
  #s2024 {
    background-position-y: 60%;
    background-image: url(https://cdn.reformationfundraising.com/rffcom/2024theme.jpeg);
    color:black;
  }
  #s2025 {
    background-position-y: 60%;
    background-image: url(https://cdn.reformationfundraising.com/rffcom/2025theme.jpg);
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
  }
  
  .nav {
    display: flex;
    padding-right: 3vh;
    align-items: center;
    justify-self: flex-end;
    font-family: "Omnes Medium";
  }
  
  .nav p, .nav a {
    line-height: 1vh;
    font-size: 3vh;
    text-decoration: none;
    color: white;
  }

/***************************** MOBILE *****************************/
@media screen and (max-width: 1100px) {
    .logo h1 {
        display: none;
    }
  
    .nav p, .nav a {
        font-size: 2vh;
        margin: 1vh;
    }
  
    .logo img {
        height: 3vh;
    }

    #archive:hover {
      cursor: pointer;
    }

    #archive:hover .dropdown {
      display: none;
    }
  }