.podium-main-box {
    display: grid;
    grid-template-columns: 32% 67%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "blurb podium"; 
    padding-bottom: 2vw;
    margin: 5%;
    margin-bottom: 1vw;
    width: 90%;
    height: max-content;
    border-radius: 1vw;
}

.podium-container {
    display: flex;
    grid-area: podium;
    background-color: white;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    padding: 5%;
}

.podium-blurb {
    grid-area: blurb;
    background-image: linear-gradient(to left, rgb(206, 206, 206) 0%, white 5%);
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    padding: 1vw;
}

.podium-blurb h1 {
    font-size: 2.3vw;
}

.podium-blurb p {
    font-size: 1.5vw;
}

#leaderboard {
    margin-top: 1vw;
    font-size: 1.6vw;
    font-family: "Omnes Medium";
    width: 100%;
}

@media screen and (max-width: 1100px) {
    .podium-main-box {
        grid-template-columns: 1fr;
        grid-template-rows: 60vw min-content;
        grid-template-areas:
        "podium"
        "blurb";
    }

    .podium-blurb {
        background-image: linear-gradient(rgb(206, 206, 206) 0%, white 5%);
        border-top-left-radius: 0;
        border-bottom-right-radius: 1vw;
    }

    .podium-container {
        border-bottom-right-radius: 0;
    }

    .podium-blurb h1 {
        text-align: center;
        font-size: 5vw;
    }

    .podium-blurb p {
        font-size: 4vw;
    }

    #leaderboard tr, #leaderboard ::-webkit-textfield-decoration-container {
        font-size: 4vw;
        margin: auto auto;
    }
}