.footer {
    display: flex;
    justify-content: space-evenly;
    font-family: "Omnes Light", sans-serif;
    text-align: center;
    background-color: var(--black);
}

.footer p {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: white;
}

/***************************** MOBILE *****************************/
@media screen and (max-width: 1100px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer p {
        font-size: 15px;
    }
}