.years {
    display: grid;
    height: 100%;
    overflow: hidden;
}

.year h1 {
    font-size: 20vw;
    text-align: center;
    background-color: rgba(0,0,0,0);
    color: white;
}

#y2020 {
    background-image: url("https://fljzgwpfjpgvhixuacrm.supabase.co/storage/v1/object/public/images/yearly-themes/2020theme.jpeg");
    background-position-y: 50%;
}
#y2021 {
    background-image: url("https://fljzgwpfjpgvhixuacrm.supabase.co/storage/v1/object/public/images/yearly-themes/2021theme.jpeg");
    background-position-y: 25%;
}
#y2022 {
    background-image: url("https://fljzgwpfjpgvhixuacrm.supabase.co/storage/v1/object/public/images/yearly-themes/2022theme.jpeg");
    background-position-y: 75%;
}
#y2023 {
    background-image: url("https://fljzgwpfjpgvhixuacrm.supabase.co/storage/v1/object/public/images/yearly-themes/2023theme.jpeg");
    background-position-y: 50%;
}
#y2024 {
    background-image: url("https://fljzgwpfjpgvhixuacrm.supabase.co/storage/v1/object/public/images/yearly-themes/2024theme.jpeg");
    background-position-y: 50%;
    color: var(--black);
}
#y2025 {
    background-image: url("https://fljzgwpfjpgvhixuacrm.supabase.co/storage/v1/object/public/images/yearly-themes/2025theme.jpeg");
}