.archiveh1 {
    text-align: center;
    font-size: 6vw;
    font-family: "Omnes Black";
    margin: 0;
}

.vods {
    display:flex;
    justify-self: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.vod-container {
    margin: 2vw;
    text-align: center;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    font-size: 0;
    width: min-content;
}

.donationArchive td, .donationArchive th {
    font-family: "Omnes Medium";
    line-height: 1.5;
    padding: 5px 5px;
    text-align: center;
    font-size: 1.5vw;
}

table {
    margin: auto auto;
    width: 80%;
}

#title-box {
    width: 100%;
    background-size: cover;
}

.title-box-content {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: 1fr;
    gap: 0 10%;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "title"
      "sub";

    width: 60%;
    margin: auto auto;
    padding: 2vw;
    text-align: center;
  }
  
.Title { 
    grid-area: title; 
    font-family: "Omnes Black";
    font-size: 6vw;
    color:white
}

a {
    color:white;
    text-decoration: none;
}

.sub {
    grid-area: sub;
    display: flex;
    width: 110%;
    justify-content: space-around;
}

.Charity, .Quantity {
    font-family: "Omnes Black";
    font-size: 3vw;
    color: white;
    margin: 0.5vw;
}
  
.Charity { 
    grid-area: Charity; 
    line-height: 4vw;
}
  
.Quantity { 
    grid-area: Quantity;
    font-family: "Omnes Pro Bold"; 
    line-height: 4vw;
}

.subtext {
    color: white;
    background-color: black;
}

.subtext p {
    font-size: 1.4vw;
    padding: 2vw;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-bottom: 4vw;
    margin: 0;
    font-family: "Omnes Medium";
}

@media screen and (max-width: 1100px) {

    .title-box-content {
        width: 90%;
    }

    .subtext p {
        font-size: 2.5vw;
    }

    table {
        width: 95%;
    }

    table td, table th {
        font-size: 2vw;
    }

    .vod-container div iframe {
        width: 80vw;
        height: 45vw;
    }

    .vod-container h1 {
        font-size: 7vw;
    }
}