/**************** FONT FACES  ****************/

@font-face {
    font-family: "Omnes Light";
    src: url("https://fljzgwpfjpgvhixuacrm.supabase.co/storage/v1/object/public/files/fonts/omnes/Omnes%20Light.ttf") format("opentype");
}

@font-face {
    font-family: "Omnes Medium";
    src: url("https://fljzgwpfjpgvhixuacrm.supabase.co/storage/v1/object/public/files/fonts/omnes/Omnes%20Medium.ttf") format("opentype");
}

@font-face {
    font-family: "Omnes Pro Bold";
    src: url("https://fljzgwpfjpgvhixuacrm.supabase.co/storage/v1/object/public/files/fonts/omnes/Omnes%20Pro%20Bold.otf") format("opentype");
}

@font-face {
    font-family: "Omnes Black";
    src: url("https://fljzgwpfjpgvhixuacrm.supabase.co/storage/v1/object/public/files/fonts/omnes/Omnes%20Black.ttf") format("opentype");
}

/****************  COLOURS  ****************/

#root {
    --black: #1f182e;
    --darkPrimary: #822143;
    --mediumPrimary: #ac3082;
    --lightPrimary: #e461b8;
    --whitePrimary: #fbf6e5;
}

/****************  STYLE TAGS  ****************/

html {
    scroll-behavior: smooth;
}

svg { /* Unspecified SVG Fonts will default to this */
    font-family: "Omnes Pro Bold", sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
}

h1 {
    font-family: "Omnes Black", sans-serif;
    font-size: 75px;
    margin: 0;
    color: var(--black);
}

p {
    font-family: "Omnes Medium", sans-serif;
    margin: 0;
    font-weight: 1000;
    font-size: 22px;
    color: var(--black);
}

@media screen and (max-width: 1100px) {
    p {
        font-size: 16px;
    }
}

b {
    font-family: "Omnes Pro Bold", sans-serif;
}

a[href] {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

a[href]:hover {
    text-decoration: underline;
}

text {
    font-family: "Omnes Medium", sans-serif;
    font-weight: 1000;
    font-size: 30px;
    display: none;
}

/****************  COMMON STYLING  ****************/

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--darkPrimary);
    background-image: url("https://fljzgwpfjpgvhixuacrm.supabase.co/storage/v1/object/public/images/collage.jpg");
}

.content {
    background-image: radial-gradient(var(--black) 1px, rgba(130, 33, 67, 0.4) 0);
    background-size: 6px 6px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/****************  STYLE SHORTCUTS  ****************/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}