.podium-main-box {
    display: grid;
    grid-template-columns: 32% 67%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "blurb podium";
    width: 90%;
    height: max-content;
    margin: 20px;
}

.podium-container {
    display: flex;
    position: relative;
    grid-area: podium;
    background-color: var(--whitePrimary);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -7px 0 10px rgba(95, 92, 104, 0.5);
    z-index: 2;
}

.podium-container img {
    width: 100%;
}

.podium-blurb {
    grid-area: blurb;
    background-color: var(--whitePrimary);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1vw;
}

.podium-blurb h1 {
    font-size: 2.3vw;
}

.podium-blurb p {
    font-size: 1.5vw;
}

#leaderboard {
    margin-top: 1vw;
    font-size: 1.6vw;
    font-family: "Omnes Medium";
    width: 100%;
}

.podium-text-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.podium-text {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    width: max-content;
    height: max-content;
    transform: translate(-50%, -50%);
}

.podium-text:nth-child(1) {
    top: 65%;
    left: 19%;
}

.podium-text:nth-child(2) {
    top: 43%;
    left: 50.5%;
}

.podium-text:nth-child(3) {
    top: 70%;
    left: 80%;
}

.podium-text p {
    color: white;
    font-size: xx-large;
    text-shadow: var(--black) 2px 2px 4px;
}

.podium-text p:first-child {
    font-size: xxx-large;
}

@media screen and (max-width: 1100px) {
    .podium-main-box {
        grid-template-columns: 1fr;
        grid-template-rows: 60vw min-content;
        grid-template-areas:
        "podium"
        "blurb";
    }

    .podium-blurb {
        background-image: linear-gradient(rgb(206, 206, 206) 0%, white 5%);
        border-top-left-radius: 0;
        border-bottom-right-radius: 1vw;
    }

    .podium-container {
        border-bottom-right-radius: 0;
    }

    .podium-blurb h1 {
        text-align: center;
        font-size: 5vw;
    }

    .podium-blurb p {
        font-size: 4vw;
    }

    #leaderboard tr, #leaderboard td {
        font-size: 4vw;
        margin: auto auto;
    }
}