.extra-members {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 10px;
}

.extra-member {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background-color: var(--whitePrimary);
    margin: 5px;
    border-radius: 10px;
}

.extra-member h1 {
    font-family: "Omnes Black", sans-serif;
    color: var(--black);
    margin: 0;
}

.extra-member h1 a {
    font-size: 3.2vw;
    color: var(--black);
    text-decoration: none;
}

.extra-member p {
    margin: 0;
    font-family: "Omnes Medium", sans-serif;
    font-size: 1.8vw;
}

.streamers {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.streamer {
    background-color: var(--whitePrimary);
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 10vw 30vw;
    grid-template-rows: 0fr 0fr 0fr;
    grid-template-areas: 
      "icon username"
      "icon name"
      "icon socials"
      "none status";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.streamer.not-participating {
    background-color: var(--darkWhitePrimary);
}

.status {
    height: 0;
    position: relative;
    bottom: 10px;
    grid-area: status;
    display: flex;
    flex-direction: row;
    p {
        font-size: 14px;
        color: var(--darkPrimary);
    }
}

.record-icon {
    position: relative;
    top: 2px;
    width: 1em;
    height: 1em;
    background-color: #822143;
    margin: 0 0.5ch 0 0.5ch;
    border-radius: 100%;
}

.streamer:nth-child(even) {
    grid-template-areas: 
      "username icon"
      "name icon"
      "socials icon"
      "status none";

    grid-template-columns: 30vw 10vw;
    justify-self: right;
}

.icon {
    grid-area: icon;
    height: 130%;
    border-radius: 100%;
}

.member-username {
    grid-area: username;
    font-family: "Omnes Black";
    color: var(--black);
    font-size: 2.8vw;
    margin: 0;
    line-height: 3vh;
    text-decoration: none;
}

.member-name {
    grid-area: name;
    font-family: "Omnes Medium";
    font-size: 2.5vh;
    margin: 0;
}

.socials {
    display: flex;
    grid-area: socials;
    margin: 1vh;
}

.socials a img {
    width: 3vw;
}

#title-content-container img {
    width: 100%;
}

.extra-member {
    padding: 1vw;
}

.extra-member h1 {
    font-size: 3vw;
}

.subtitle {
    background-color: var(--black);
}

.subtitle h1 {
    width: fit-content;
    margin: auto auto;
    padding: 2vw;
    font-size: 5vw;
    color: white;
}

#title-box {
    padding-top: 3vh;
    background-color: var(--black);
    width: 100%;
}

#title-content-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Logo-1 Streamers-Title Logo-2"
      "Logo-1 Streamers-Subtitle Logo-2";

    width: 60%;
    margin: auto auto;
    text-align: center;
}

.Logo-2 {
    grid-area: Logo-2;
}

.Logo-1 {
    grid-area: Logo-1;
}

.Streamers-Title {
    grid-area: Streamers-Title;
    margin: 0;
    align-self: center;
}

.Streamers-Title h1 {
    font-size: 6vw;
    font-family: "Omnes Pro Bold";
    margin: 0;
    color: white;
}

.subtitle-container {
    margin-top: 5vw;
}

.Streamers-Subtitle {
    grid-area: Streamers-Subtitle;
}

.Streamers-Subtitle p {
    font-family: "Omnes Medium";
    font-size: 1.35vw;
    margin: 0;
    color: white;
}

.info3 .username,
.info6 .username {
    font-size: 2.5vw;
}

.extra-member .small-member {
    font-size: 2.7vw;
}

@media screen and (max-width: 1100px) {
    .streamer:nth-child(even) {
        grid-template-areas:
      "icon username"
      "icon name"
      "icon socials";
        justify-self: center;
    }

    .streamers .streamer {
        grid-template-columns: 20% 80%;
        width: 90%;
    }

    .icon {
        height: 100%;
    }

    .extra-members {
        grid-template-columns: 1fr;
    }

    .extra-members h1, .extra-members h1 a {
        font-size: 7vw;
    }

    .extra-members p {
        font-size: 3vw;
    }

    #title-content-container {
        width: 90%;
        grid-template-columns: 1fr 6fr 1fr;
        grid-template-areas: "Logo-1 Streamers-Title Logo-2";
    }

    .Streamers-Subtitle {
        display: none;
    }

    .Streamers-Title h1, .subtitle h1 {
        font-size: 9vw;
    }

    .streamers {
        grid-template-columns: 1fr;
    }

    .member-username {
        font-size: 5vw;
    }

    #OtherworldlyFinn .member-username {
        font-size: 4.5vw;
    }

    .member-name {
        font-size: 4vw;
    }

    .socials a img {
        width: 5vw;
    }

    .subtitle {
        text-align: center;
    }

    .extra-member .small-member {
        font-size: 7vw;
    }

    .subheader h1 {
        font-size: 8vw;
        margin: 4vw;
    }
}